<!-- Button trigger modal -->
<button type="button" class="btn custom-btn-secondary" data-bs-toggle="modal" data-bs-target="#exportModal">
    Export
</button>

<!-- Modal Structure -->
<div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exportModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content custom-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="exportModalLabel">Export Data</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'export' %}" method="POST">
          {% csrf_token %}
          {{ form.file_format }}
          <div class="modal-footer">
            <button type="submit" class="btn custom-btn">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
